@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Yıkama & Kuru Temizleme</h4>
                        <h1 class="display-3 text-white mb-md-4">En İyi Kuru Temizleme Hizmeti</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Daha Fazla</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Yıkama & Kuru Temizleme</h4>
                        <h1 class="display-3 text-white mb-md-4">Son Derece Profesyonel Kadro</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Daha Fazla</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-secondary" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-secondary" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->
<!-- Contact Info Start -->
<div class="container-fluid contact-info mt-5 mb-4">
    <div class="container" style="padding: 0 30px;">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex">
                    <i class="fa fa-2x fa-map-marker-alt text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">Konumumuz</h5>
                        <p class="m-0 text-white">123. Sokak, Üsküdar, İstanbul</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex text-left">
                    <i class="fa fa-2x fa-envelope text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">Mail Gönder</h5>
                        <p class="m-0 text-white">bilgi123@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex text-left">
                    <i class="fa fa-2x fa-phone-alt text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">Bizi Ara</h5>
                        <p class="m-0 text-white">000 000 00 00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Info End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-0 pt-lg-4">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid" src="~/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3">BİZİ Daha İyİ Tanıyın</h6>
                <h1 class="mb-4">İstanbulda En Kaliteli Kuru Temizleme Sağlayıcısıyız</h1>
                <h5 class="font-weight-medium font-italic mb-4">1996'dan beri özveriyle bu işi yapmaktayız.</h5>
                <p class="mb-2">Üsküdarda başlayan bu maceramız şimdi tüm Türkiyede devam etmekte. Sizde en yakın birimimize başvurun kuru temizlemeye
                ihtiyacı olan eşyalarınızı evden aldırma şansını yakalayın.</p>
                <div class="row">
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Kaliteli Kuru Temizleme Servisi</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Hızlı Teslimat</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Son Derece Profesyonel Kadro</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">100% Memnuniyet Garantisi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Sektörde BİZ</h6>
                <h1 class="mb-4">NEDEN BİZİ SEÇMELİSİN</h1>
                <p>Özenerek verdiğimiz hizmet ve müşteri memnuniyeti bizim için her şeyden önemli. Kıyafetlerinizi sizden alıyoruz ve kuru temizleme 
                macerası başlıyor. İşlem bittikten sonra eşyalarınızı ister gelip siz alıyorsunuz isterseniz biz evinize kadar getiriyoruz.</p>
                <div class="row">
                    <div class="col-sm-6 mb-4">
                        <h1 class="text-secondary" data-toggle="counter-up">10</h1>
                        <h5 class="font-weight-bold">Yıllık Deneyim</h5>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <h1 class="text-secondary" data-toggle="counter-up">250</h1>
                        <h5 class="font-weight-bold">Uzman İşçi</h5>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <h1 class="text-secondary" data-toggle="counter-up">1250</h1>
                        <h5 class="font-weight-bold">Mutlu Müşteri</h5>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <h1 class="text-secondary" data-toggle="counter-up">9550</h1>
                        <h5 class="font-weight-bold">Kuru Temizleme Hizmeti</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center bg-secondary h-100 py-5 px-3">
                    <i class="fa fa-5x fa-certificate text-white mb-5"></i>
                    <h1 class="display-1 text-white mb-3">10+</h1>
                    <h1 class="text-white m-0">Yıllık Deneyim</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Working Process Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">ÇALIŞMA SÜRECİ</h6>
        <h1 class="display-4 text-center mb-5">Nasıl Çalışıyoruz</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">1</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Sipariş Yeri</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">2</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Ücretsiz Teslim Alma</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">3</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Kuru Temizleme</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">4</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Ücretsiz Teslimat</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Working Process End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Yorumlar</h6>
        <h1 class="display-4 text-center mb-5">Müşterilerimizin Yorumları</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="~/img/testimonial-1.jpg" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Fatih Aslan</h5>
                    <p class="m-0">Takım elbisemi vermiştim. Yeni gibi geldi. Bu harika hizmet için sonsuz teşekkürler</p>
                </div>
            </div>
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="~/img/testimonial-2.jpg" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Sinem Cantürk</h5>
                    <p class="m-0">2 yıldır kıyafetlerimi buraya veriyorum. Hizmetleri de çalışanları da muhteşemler </p>
                </div>
            </div>
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="~/img/testimonial-3.jpg" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Mehmet Güner</h5>
                    <p class="m-0">İlk defa bir kıyafetimi kuru temizlemeye verdim. Ve sonuç muhteşem sakın korkmayın harika iş yapıyorlar</p>
                </div>
            </div>
            <div class="testimonial-item">
                <img class="position-relative rounded-circle bg-white shadow mx-auto" src="~/img/testimonial-4.jpg" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
                <div class="bg-light text-center p-4 pt-0">
                    <h5 class="font-weight-medium mt-5">Asya Keskin</h5>
                    <p class="m-0">Perdelerimizi vermiştik ve perdenin birinde kocaman bir leke vardı ama artık yok.Teşekkürler  </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
